body{
    margin: 0;
    padding:0;
    background-color: white;
    font-family: 'Roboto', arial;
}
.mainbody{
    display: flex;
    flex-direction: column;
    flex-basis: auto;
}

/* Navigation bar */

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 72px;
    color: #F9FAF8;
    background-color:#1F2937;
    padding-left: 150px;
    padding-right: 150px;
}

.navbar .heading{
    font-size: 24px;
    color:#F9FAF8;
    font-weight: bold;
}

.links{
    margin:0;
    padding:0;
    display:flex;
    justify-content: space-between;
    font-size:18px;
    gap:20px;
} 

a{
    text-decoration: none;
    color:#E5E7EB;
}

.main{
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    padding-right: 150px;
    padding-left: 150px;
}

.main .heading{
    font-size:48px;
    font-weight: bolder;
    color:#F9FAF8;
}

.main p{
    font-size: 18px;
    color:#E5E7EB;
}

.insidebanner button{
    display: block;
    background-color: #3882F6;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    height: 35px;
    width: 100px;
    text-align: center;
    font-weight: bold;
}

.banner{
    display: flex;
    padding:100px 0px 100px 0px;
    gap:70px;
}
.insidebanner{
    display: flex;
    flex-direction: column;
    gap:15px;
}

 .main img {
    height:300px;
    width: 550px;
} 



.quotebanner{
    background-color:#E5E7EB;
    font-weight: light;
    font-style: italic;
    font-size:30px;
    color:#1E2937;
    padding: 100px;
    text-align: center;
}

.quotebanner p {
    font-style: normal;
    text-align: end;
    font-size: 20px;

}

.mainbox {
    padding:20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: wrap;
    color:black;
    gap:30px;
  }

  .container{
      padding:20px;
      text-align: center;
      color: #2a2b2c;
  }
  .box{
      width:200px;
  }

  .container img{
    border: 4px #3882F6 solid;
    border-radius: 25px;
    width: 200px;
    height: 200px;
    
  }

  .signup{
      display: flex;
      justify-content: center;
      align-items: center;
      padding:50px;
  }

  .signup .banner{
      background-color: #3882F6;
      color:white;
      border-radius: 10px;
      padding: 40px;
  }

  .sign2 {
      display: flex;
      flex-direction: column;
  }

  .sign2 p {
      padding: 0;
      margin: 0;
      font-size: 20px;
      font-weight: bold;
  }

  .signup button{
    display: block;
    background-color: #3882F6;
    color: #FFFFFF;
    border: 2px solid white;
    border-radius: 5px;
    height: 35px;
    width: 100px;
    text-align: center;
    font-weight: bold;

  }


  .footer{
    bottom: 0;
    left: 0;
    right: 0;
    height: 52px;
    display: flex;
    align-items: center;;
    justify-content:space-evenly;
    background: #1f2937;
    color:white;
    font-size: 15px;
}
